nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
  }
  

  nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  nav ul li a{
    text-decoration: none;
    color: aliceblue;
  }
  .selected{
    color: orange;
  }

  nav .nav__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    
  }

  nav .logo img , nav .playstore img{
    height: 3rem;
    margin: 0.5rem;
  }
  .menu__icon{
    display: none;
  }
  
  @media(max-width:990px){
    nav{
      position: relative;
      top: 0;
      display: flex;
      justify-content: space-between;
      z-index: 3;
      width:100%;
    }
    
    .menu__icon{
      display: inline;

    }
    nav ul{
      display: none;
    }

  }

  @media(max-width:770px){
    
    .playstore{
      display: none;
    }

  }
