:root{
  --colour-primary:#fb9a00;
  --colour-bg-primary:#1e1e1e;
  --colour-bg-secondry:#232428;
  --color-dark:#161616;
  
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 , h2 , h3 , li{
  font-family: "Oleo Script", cursive;
}
h1{
  font-size: 67px;
  font-weight: 800;
  color: white;
  line-height: 1.2;
}


h2 , h3 {
  color: var(--colour-primary);
}

h2{
  font-weight: 300;
  font-size: 48px;
}
h4{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

p{
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  box-sizing: border-box;
  display: block;
}

.header{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center
}


.line{
  width: 5rem ;
  height: 5px;
  border-radius: 10px;
  background-color: var(--colour-primary);
}

.container{
  background-color: var(--colour-bg-secondry);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

}




@keyframes Float{
  0%{
      transform: translateY(0);
  }
  50%{
      
      transform: translateY(3rem);
  }
  100%{
      transform: translateY(0);
  }
}